<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>称重后台管理端/信息发送</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div id="tableBox">
    <div style="display: flex;">
        <ul class="layui-nav" style="width:100%">
            <li class="layui-nav-item" style="float: right">
                <a href="javascript:;" onclick="addLayuiShow()"><img src="//t.cn/RCzsdCq" class="layui-nav-img">
                    <lable style="font-size: 18px" id="usernameShowID"></lable>
                </a>
                <dl class="layui-nav-child" id="IDlayuiNavChild" style="z-index: 10000">
                    <dd><a href="javascript:;" onclick="logout()">退出登录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" style="float: right">
                <a href="/">
                    <lable style="font-size: 18px">列表首页</lable>
                </a>
            </li>
        </ul>
    </div>
    <form class="layui-form" action="" style="margin-bottom: 0;margin-top: 10px" ,>
        <div class="layui-form-item">
            <label class="layui-form-label">XXX用户的订单记录</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="name" placeholder="请输入姓名"
                       autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn" lay-submit lay-filter="searchBtn">搜索</button>
        </div>
    </form>
    <table class="layui-table" lay-data="{url:'wx/template/getUser', page:true, id:'idTest'}" style="display: none"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'openid'}">ID</th>
            <th lay-data="{field:'nickname'}">微信名</th>
            <th lay-data="{field:'name', width:120}">用户名</th>
            <th lay-data="{field:'city', width:100}">城市</th>
            <th lay-data="{field:'phone', width:118}">手机号</th>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">发送</a>
</script>
<script src="../static/layui.js" charset="utf-8"></script>
<script>
    //页面加载
    const loadStart = layer.load();
    //判断是否登录
    layui.use(function () {
            layui.$.ajax({
                url: '/wx/template/isLogin', //提交接口
                type: 'get',
                success: function (res) {
                    layer.close(loadStart);
                    if (res.isLogin === '1' || res.userName) {
                        //登陆成功显示列表
                        document.getElementById('tableBox').style.display = 'block';
                        document.getElementById('usernameShowID').textContent = res.userName;
                    } else if (res.isLogin === '0') {
                        window.location.href = '/';
                    }
                },
                error: function (mas, textStatus, errorThrown) {
                    layer.msg("请求失败");
                }
            });
        }
    );
</script>
</body>
</html>